/*
* styles.css - general css styles
*/

ol {
  font-size: 1em;
}

li {
  color: #333;
}

/*
* list as menu tabs - horizontal
*/

#menutabs {
  margin: 0;
  padding: 10px 0 20px 10px;
  border-bottom: 1px solid #666;
}

#menutabs li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style: none;
}

#menutabs a {
  float: left;
  line-height: 10px;
  margin: 0 8px 4px 8px;
  text-decoration: none;
  color: #1a3852;
}

#menutabs a.active, #menutabs a:hover {
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
  color: #cd0603;
}

#menutabs a:hover {
  color: #779eab;
}

div.container {
    width: 100%;
    <!--border: 1px solid gray;>
}

header {
    padding: 1em;
    color: white;
	background: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 500px;
	color: black;
    margin: 0;
    padding: 1em;
	background: white;
<<<<<<< HEAD
    background-size: 500pX 500px;
=======
    background-size: 500X 500px;
>>>>>>> html-book
    background-repeat: repeat;

	
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
	color:blue
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
	background-color:#c3dfac
}

a.book_link{
	color: white;
	}
	
footer{
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
	background: black;
}

h1 {
    font-family: Broadway, Times, serif;
}

h2 {
    font-family: "Copperplate Gothic Bold", Times, serif;
}



p::first-letter { 
    font-size: 150%;
}
